<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD46CSyf8tXyGmpxsz9_5yKyX1ayG5wX30</string>
	<key>GCM_SENDER_ID</key>
	<string>336865912412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookappUmg</string>
	<key>PROJECT_ID</key>
	<string>bookapp-9ef08</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapp-9ef08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336865912412:ios:28bac682c1222dcd58a899</string>
</dict>
</plist>